
.vs/JAMCarRental/v15/Server/sqlite3/db.lock
.vs/JAMCarRental/v15/.suo
.vs/JAMCarRental/v15/Server/sqlite3/storage.ide-wal
JAMCarRental.Data/obj/Debug/JAMCarRental.Data.csproj.CoreCompileInputs.cache
JAMCarRental.Data/obj/Debug/JAMCarRental.Data.csprojAssemblyReference.cache
